[Unit]
Description=WebServer EDJ

[Service]
Type=simple
ExecStart=/usr/bin/WebServer \
	--conf_file /etc/webserver/webserver.conf
User=root
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
